langchain
langchain-community
langgraph
langchain-groq
langchain-chroma
sentence-transformers
huggingface_hub
flashrank
rank_bm25
tiktoken
chromadb
pypdf
unstructured
python-pptx
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
python-dotenv
ipykernel
streamlit
langgraph
tools